composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
.idea/phpiggy.iml
.idea/php.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeception.xml
.idea/phpspec.xml
.idea/phpunit.xml
